{% extends '_templates/base.njk' %}

{% block page_title %}Ships of the Golden Age of pirates{% endblock %}

{% block page_description%}A description of the many ships that sailed the seas{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>A description of the many ships that sailed the seas</p>
    <div class="row">
      {% for ship in pirates.ships %}
    <div class="col-sm-6 col-lg-4">
      <div class="card border-primary mb-4" style="max-width: 18rem;">
        <div class="card-body text-primary">
          <h5 class="card-title">{{ ship.ship_name }}</h5>
          <h6>{{ ship.captain}}</h6>
          <p class="card-text">{{ ship.blurb }}</p>
          <a href="{{ ship.source }}" target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}